export(calcGjoint)
export(combineRank)
export(contLikINT)
export(contLikMCMC)
export(contLikMCMCpara)
export(contLikMLE)
export(contLikMLEpara)
export(deconvolve)
export(efm)
export(exactMACdistr)
export(fitgammamodel)
export(freqImport)
export(genDataset)
export(getGlist)
export(getKit)
export(iszerolik)
export(logLiki)
export(noncontrMLE)
export(plotEPG)
export(plotEPG2)
export(plotMPS2)
export(plotLUS)
export(plotTopEPG)
export(plotTopEPG2)
export(plotTopLUS)
export(plotTopMPS2)
export(prepareC)
export(Qassignate)
export(simDOdistr)
export(tableReader)
export(validMCMC)
export(validMLEmodel)
useDynLib(euroformix)
exportPattern("^[[:alpha:]]+")
